Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.0
Flask-Limiter==3.8.0
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
flask-swagger-ui==4.11.1

SQLAlchemy==2.0.32
marshmallow==4.0.1
marshmallow-sqlalchemy==1.0.0

gunicorn==23.0.0
psycopg2-binary==2.9.11

python-jose==3.3.0
PyYAML==6.0.3
cachelib==0.9.0
limits==4.2
greenlet==3.2.4
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.1.8
blinker==1.9.0
