name: Flask CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Force GitHub to use the updated file inside project/
          pip install -r project/requirements.txt 

      - name: Run unit tests
        # This tells Python that 'project' is the root, so 'import application' works
        working-directory: ./project
        run: python -m unittest discover -s tests -p 'test_*.py'